<div class="message-form">
  <%= simple_form_for([conversation, message],
      remote: remote, html: {id: 'message-form'}) do |f| %>
    <div class="row collapse">
      <div class="small-9 columns">
        <%= f.input :body, placeholder: 'Enter your message',
                           as: 'string', label: false,
                           input_html: {autofocus: true} %>
        <%= f.hidden_field :user_id, value: current_user.id  %>
      </div>
      <div class="small-3 columns">
        <%= button_tag type: 'submit', class: 'button postfix' do %><i class="fa fa-paper-plane-o"></i><% end %>
      </div>
    </div>
  <% end %>
</div>
