<div class="callout">
  <div class="calendar">
    <%= month_calendar events: meetings do |date, meetings| %>
    <div id="calendar-day-label"><%= date.strftime("%d") %></div>
    <% meetings.each do |meeting| %>
    <div class="meeting">
      <%= link_to meeting.name, meeting_path(meeting), data: {open: "meeting"}, remote: true%>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
