<tr id="meeting_<%= meeting.id %>">
  <td><%= link_to meeting.name, meeting, data: {open: "meeting"}, remote: true %></td>
  <td><%= meeting.start_time.strftime("%^b %e/%y %l:%m %p") %></td>
  <td><%= meeting.end_time.strftime("%^b %e/%y %l:%m %p") %></td>
</tr>
