<div class="profile-page">
  <div class="row">
    <div class="small-12 medium-3 large-3 columns">
      <%= render 'user_info', user: @user %>
    </div>
    <div class="small-12 medium-9 large-9 columns">
      <%= render 'tabbed_list', projects: @projects %>
    </div>
  </div>
</div>
