<div class="profile-page">
  <div class="banner">
    <div class="row">
      <div class="small-12 columns">
        <h1>PROFILE</h1>
      </div>
    </div>
  </div>
  <div class="down-arrow">
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="callout">
        <h2>Bio</h2>
        <p><%= @user.bio %></p>
      </div>
      <div class="callout">
        <h2>Location</h2>
        <p><%= @user.location %></p>
      </div>
      </div>
  </div>
</div>
