<div class="banner">
  <div class="row">
    <div class="small-8 columns">
      <h1>projects</h1>
    </div>
    <div class="small-4 columns">
      <%= link_to "new project", new_project_path, class: "button" %>
    </div>
  </div>
</div>
<div class="down-arrow"></div>
