<% if user_signed_in? %>
<div class="callout">
  <div class="meetings">
    <h4>Upcoming events</h4>
    <ul>
      <% meetings.each do |meeting| %>
      <li><%= link_to meeting.name, meeting_path(meeting) %> -
        <%= meeting.start_time.strftime("%b %e/%y %l:%M %P") %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
