/*
*= require foundation_and_overrides
*= require simple_calendar
*/
@import "variables";
@import "foundation_and_overrides";
@import '_settings.scss';
@import "calendar";
@import "ideas";
@import "likes";
@import "meetings";
@import "notifications";
@import "projects";
@import "users";
@import "header";
@import "footer";
@import "messages";
@import "conversations";

a {
    color: #204056;
}

.container {
    margin: 0 40px;
}

ul {
    list-style: none;
}
