.simple-calendar {
  .calendar-heading {
    i {
      font-size: 1.6em;
    }
    .button {
      float: right;
    }
  }
  .calendar-title {
    font-size: 2em;
    font-weight: bold;

  }
  .day {
    color: #204056;
    font-size: 0.7em;

  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    color: white;
    background-color: #204056 !important;
    a {
      color: inherit;
    }
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {

  }
  .next-month { }
  .current-month {}

  .has-events {}
}
#calendar-day-label {
  font-size: 0.8em;
  font-weight: bold;
}
