// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new-meeting {
  background-color: $steel-blue;
  label { color: white; }
}
.meetings-index {
  font-size: 0.8em;
}
#meeting {
  background: $steel-blue;
  color: white;
  a {
    color: white;
  }
}
