.reciever {
    width: 56%;
    float: left;
    color: hsl(0%, 0%, 20%);
    background-color: $teal;
}

.sender {
    width: 56%;
    float: right;
    color: $steel-blue;
    background-color: white;
}

#messages-box {
    height: 550px;
    overflow-y: scroll;

    span {
        font-size: 0.7em;
    }

    p {
        overflow-wrap: break-word;
        margin: 0;
    }

    & .callout {
        padding: 7px;
    }
}

.message-form {
    input {
        position: relative;
        bottom: 10px;
    }
}

.message_body {
    input {
        margin: 0;
        position: relative;
        bottom: 0;
    }
}

.message-preview {
    font-style: italic;
    color: hsl(0%, 0%, 60%);
}
