.projects {
  time {
    font-size: 0.8em;
    color: hsl(0%, 0%, 60%);
  }

  #tag_cloud {
    line-height: 1.6em;

    .s {
      font-size: 0.8em;
    }
    .m {
      font-size: 1.2em;

    }
    .l {
      font-size: 1.8em;

    }
  }
}
.down-arrow {
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #204056;
  margin-left: 60px;
  margin-bottom: 20px;
}

.secondary-projects-panel {
  text-align: center;

  & .likes-icon {
    font-size: 3em;
  }
}

#top-users {
  list-style: none;
}
.banner {
  color: white;
  background-color: #204056;
  padding: 40px;
}
.primary-project-panel {
  background-color: hsl(0%, 0%, 90%);
  border: none;
}
.secondary-project-panel {
  background-color: $steel-blue;
  color: white;
  text-align: center;
  i {
    font-size: 1em;
    color: #46c9b6;
  }
}

.project-heading {
  margin-top: 20px;
  background-color: $steel-blue;
  color: white;

  h3 {
    color:  #46c9b6;
  }

  .author a {
    color: white;
    font-style: italic;
  }

}
.likes, .group-members {
  float: right;
  font-size: 2em;
  color: #ffbf00;
  padding: 10px;
  border-radius: 50%;
  a {
    color: #ffbf00;
  }
}
.group-members {}
.ideas-section {
  margin: 20px;
  h4 a {
    float:right;
  }
  h4 {
    color: #ffbf00;
  }
  .idea {
    font-size: 0.9em;
    h5 {
      font-weight: bold;
    }
  }
}
.members {
  a {
    color: white;
  }
}
.project {
  background-color: $steel-blue;
}
