.sign-in-form, .sign-up-form {
  background-color: hsl(0%, 0%, 95%);
  padding: 50px;
  text-align: center;

  h4 {
    text-transform: uppercase;
    font-weight: 300;

  }

  .form-inputs {
    width: 300px;
    margin: auto;
  }

  input.button{
    margin-top: 20px;
    width: 300px;
  }
  .form-inputs input {
    margin-bottom: 0;
  }

}
.profile-page {
  margin: 30px 0;
}
